certifi==2026.4.22
charset-normalizer==3.4.7
curlify==2.2.1
harmony-py==0.4.15
idna==3.13
numpy==2.4.4
packaging==23.2
pockets==0.9.1
podaac-data-subscriber==1.15.2
progressbar2==4.2.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-utils==3.9.1
requests==2.33.1
shapely==2.0.7
six==1.17.0
sphinxcontrib-napoleon==0.7
tenacity==8.5.0
typing_extensions==4.15.0
urllib3==2.7.0
